.bumper-container[data-v-e89e8212]{text-align:center;margin-top:40px}.game-canvas[data-v-e89e8212]{border:2px solid #333;background:#eef;margin:20px 0}.info[data-v-e89e8212]{margin-top:20px}button[data-v-e89e8212]{margin-top:10px}
